* {
  margin: 0;
}

.container {
  width: 1024px;
  margin: auto;
}

header {
  background-color: deepskyblue;
  background-image: url("../img/pattern.png");
  background-size: 350px;
}

.logo {
  height: 50px;
  margin-top: 40px;
}

main {
  margin-top: 10px;
}

h1 {
  font-size: 40px;
}

.autore {
  color: gray;
  font-size: 15px;
}

.autore span {
  color: lightblue;
}

.data {
  font-size: 13px;
  color: gray;
}

.foto {
  margin-top: 10px;
}

.descrizione_foto {
  font-size: 10px;
}

.body_articolo {
  margin-top: 15px;
}

.evidenziato {
  background-color: yellow;
}

.lista {
  margin-top: 15px;
}

.tabella {
  margin-top: 10px;
}

table thead {
  background-color: deepskyblue;
  color: white;
}

footer {
  margin-top: 15px;
}

.titolo_footer {
  font-size: 17px;
  color: gray;
}

.correlati {
  color: white;
  height: 250px;
  width: 250px;
  margin-top: 20px;
  padding: 10px;
  background-size: cover;
}

#correlato1 {
  background-image: url("../img/graph.jpg");
}

#correlato2 {
  background-image: url("../img/monitor.jpg");
}
